includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - routes
    tmpDir: storage/phpstan
    bootstrapFiles:
        - stubs/slack-notification.stub
    stubFiles:
        - stubs/slack-notification.stub
